.motto{
    margin-left: 20px;
    color: #CCCCCC;
}
.portfolio{
    margin-left: 60px;
    color: #000000;
}
.together{
    display: flex;
}
.text_wrap{
    margin: 10px;
    text-align: right;
}
.form{
    font-size: 36px;
    height: 36px;
    width: 500px;
}
.distribution{
    margin-left: 50px;
    line-height: 1.5;
}
.together2{
    display: block;
}
.text_wrap2{
    align-self: flex-end;
    margin-left: 400px;
    background-color: #DDDDDD;
}
.table1{
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
.caption1{
    caption-side: top;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
}
.th1{
   background-color: #A65200;
   border: 1px solid #333;
   padding: 10px 15px;
}
.td1{
    background-color: #FFB873;
    border: 1px solid #333;
}
.book_page_color{
    color: #00FFFF;
}
.description {
 text-overflow: ellipsis; /* will make [...] at the end */
 width: 370px; /* change to your preferences */
 white-space: nowrap; /* paragraph to one line */
 overflow:hidden; /* older browsers */
 }
.td2, .th2 {
    border: 1px solid #333;
}