{% extends "base.html" %}

{% block content %}
<h1 class>Мои книги</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <thead>
            <tr>
                <th>{{ form.sort_type(class="form-control", type="select") }}</th>
                <th>{{ form.genre_type(class="form-control", type="select") }}</th>
                <th>{{ form.name(class="form-control", type="string") }}</th>
                <th>{{ form.author(class="form-control", type="string") }}</th>
                <th>{{ form.submit(class="form-control", type="submit") }}</th>
            </tr>
        </thead>
    </table>
    {% for action in library%}
        <table class="table1">
            <caption class="caption1">Книга #{{loop.index}}</caption>
            <thead class="th1">
                <tr>
                    <th class="th2">Книга</th>
                    <th class="th2">Жанр</th>
                    <th class="th2">Описание</th>
                    <th class="th2">Автор</th>
                    <th class="th2">Год публикации</th>
                    <th class="th2">Ссылка</th>
                    <th class="th2">Удалить</th>
                </tr>
            </thead>
            <tbody class="td1">
                <tr>
                    <td class="td2"><p>{{action.name}}</p></td>
                    <td class="td2"><p>{{genres[loop.index - 1].genre}}</p></td>
                    <td class="td2">{% for line in descriptions[loop.index - 1] %}
                            <p>{{line}}</p>
                        {% endfor %}
                    </td>
                    <td class="td2"><p>{{action.author}}</p></td>
                    <td class="td2"><p>{{action.create_date}}</p></td>
                    <td class="td2"><p>{{action.link}}</p></td>
                    <td class="th2"><a href="/my_book_del/{{action.id}}" class="btn btn-danger">
                                            Удалить
                                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
</form>
{% endfor %}
{% endblock %}